@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-urbanist: 'Urbanist', sans-serif;

    --color-purple-600: #703BF7;
    --color-purple-650: #1A64FF;
    --color-purple-700: #FF9533;
    --color-purple-750: #FFCA99;
    --color-purple-900: #FFE4CC;
    --color-purple-950: #FFF1E5;
    --color-purple-970: #FFF7F0;
    --color-purple-990: #FFFCFA;

    --color-white-900:#E4E5E7;
    --color-white-950:#F1F1F3;
    --color-white-970:#F7F7F8;
    --color-white-990:#FCFCFD;

    --color-grey-80:#141414;
    --color-grey-100:#1A1A1A;
    --color-grey-150:#262626;
    --color-grey-200:#333333; 
    --color-grey-300:#4D4D4D;
    --color-grey-400:#666666;
    --color-grey-500:#808080;
    --color-grey-600:#999999;
}

@layer base {
     *{
        @apply font-urbanist
     }
    body {
        @apply font-urbanist bg-grey-80 text-white
    }
}